<header class="settings-header">
    <h2 class="settings-item-title">General</h2>

    <button class="btn btn-primary action-save" {{action "save"}}>Save</button>
</header>

<form class="settings-body" role="form" {{action 'save' on='submit'}}>
    <div class="form-group">
        <label for="site-name">Site Name</label>
        {{input id="site-name" name="general[name]" type="text" class="form-control" value=name}}
        <p class="info">
            The name of your site
        </p>
    </div>

    <div class="form-group">
        <label for="site-tagline">Site Tagline</label>
        {{input id="site-tagline" name="general[tagline]" type="text" class="form-control" value=tagline}}
        <p class="info">
            The tagline of your site
        </p>
    </div>

    <div class="form-group">
        <label for="site-description">Site Description</label>
        {{summernote-editor id="site-description" placeholder="Description" value=description}}
        <p class="info">
            Describe what your site is about
        </p>
    </div>

    <div class="form-group">
        <label for="site-more-desc">Site Additional Description</label>
        {{summernote-editor id="site-more-desc" placeholder="Additional description" value=moreDesc}}
        <p class="info">
            An additional description to display at bottom of homepage
        </p>
    </div>

    <div class="form-group">
        <label for="site-join-text">Site Join Text</label>
        {{summernote-editor id="site-join-text" placeholder="Join text" value=joinText}}
        <p class="info">
            If relevant, explain to visitors why then should become a member of your organisation
        </p>
    </div>

    <div class="form-group">
        <label for="site-logo">Site Logo</label>
        {{#if logo}}
            <button type="button" class="thumbnail select-image" {{action "openModal" "select-image" controller "logo"}}>
                <img id="site-logo" {{bind-attr src=logo.mediumUrl}} alt="logo">
                <span class="remove-image" {{action 'removeLogo'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" controller "logo"}}>Choose Image</button>
        {{/if}}
        <p class="info">
            Display a logo for your site
        </p>
    </div>

    <div class="form-group">
        <label for="site-cover">Site Cover</label>
        {{#if cover}}
            <button type="button" class="thumbnail select-image" {{action "openModal" "select-image" controller "cover"}}>
                <img id="site-cover" {{bind-attr src=cover.mediumUrl}} alt="cover">
                <span class="remove-image" {{action 'removeCover'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" controller "cover"}}>Choose Image</button>
        {{/if}}
        <p class="info">
            Display a cover image on your site
        </p>
    </div>

    <div class="form-group">
        <label for="site-theme">Site theme</label>
        {{view "select" content=allThemes selection=theme class="form-control"}}
        <p class="info">
            The theme to use for your site
        </p>
    </div>
</form>
