<header class="settings-header">
    <h2 class="settings-item-title">{{t 'General'}}</h2>

    <button class="btn btn-primary action-save" {{action "save"}}><i class="fa fa-floppy-o"></i>{{t 'save'}}</button>
</header>

<form class="settings-body" role="form" {{action 'save' on='submit'}}>
    <div class="form-group">
        <label for="site-name">{{t 'site.name'}}</label>
        {{input id="site-name" name="general[name]" type="text" class="form-control" value=name}}
        <p class="info">
            {{t 'site.nameInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-tagline">{{t 'site.tagline'}}</label>
        {{input id="site-tagline" name="general[tagline]" type="text" class="form-control" value=tagline}}
        <p class="info">
            {{t 'site.taglineInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-description">{{t 'site.description'}}</label>
        {{tinymce-editor value=unboundDescription onChange="descriptionChanged" height=300 id="site-description"}}
        <p class="info">
            {{t 'site.descriptionInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-more-desc">{{t 'site.additionalDescription'}}</label>
        {{tinymce-editor value=unboundMoreDesc onChange="moreDescChanged" height=300 id="site-more-desc"}}
        <p class="info">
            {{t 'site.additionalDescriptionInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-join-text">{{t 'site.joinText'}}</label>
        {{tinymce-editor value=unboundJoinText onChange="joinTextChanged" height=300 id="site-join-text"}}
        <p class="info">
            {{t 'site.joinTextInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-logo">{{t 'site.logo'}}</label>
        {{#if logo}}
            <button type="button" class="thumbnail select-image" {{action "openModal" "select-image" controller "logo"}}>
                <img id="site-logo" {{bind-attr src=logo.smallUrl}} alt="logo">
                <span class="remove-image" {{action 'removeLogo'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" controller "logo"}}>{{t 'chooseImage'}}</button>
        {{/if}}
        <p class="info">
            {{t 'site.logoInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-cover">{{t 'site.cover'}}</label>
        {{#if cover}}
            <button type="button" class="thumbnail select-image" {{action "openModal" "select-image" controller "cover"}}>
                <img id="site-cover" {{bind-attr src=cover.smallUrl}} alt="cover">
                <span class="remove-image" {{action 'removeCover'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" controller "cover"}}>{{t 'chooseImage'}}</button>
        {{/if}}
        <p class="info">
            {{t 'site.coverInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-theme">{{t 'site.theme'}}</label>
        {{view "select" content=allThemes selection=theme class="form-control"}}
        <p class="info">
            {{t 'site.themeInfos'}}
        </p>
    </div>
</form>
