<header class="settings-view-header">
    <h2>General</h2>
    <button type="button" class="btn btn-primary settings-save" {{action "save"}}>Save</button>
</header>

<form id="settings-general" role="form">
    <div class="form-group">
        <label for="site-name">Site Name</label>
        {{input id="site-name" name="general[name]" type="text" class="form-control" value=name}}
        <p>
            The name of your site
        </p>
    </div>

    <div class="form-group">
        <label for="site-tagline">Site Tagline</label>
        {{input id="site-tagline" name="general[tagline]" type="text" class="form-control" value=tagline}}
        <p>
            The tagline of your site
        </p>
    </div>

    <div class="form-group">
        <label for="site-description">Site Description</label>
        {{textarea id="site-description" name="general[description]" class="form-control" value=description}}
        <p>
            Describe what your site is about
        </p>
    </div>

    <div class="form-group">
        <label for="site-more-desc">Site Additional Description</label>
        {{textarea id="site-more-desc" name="general[moreDesc]" class="form-control" value=moreDesc}}
        <p>
            An additional description to display at bottom of homepage
        </p>
    </div>

    <div class="form-group">
        <label for="site-join-text">Site Join Text</label>
        {{textarea id="site-join-text" name="general[joinText]" class="form-control" value=joinText}}
        <p>
            Explain to visitors why then should become a member of your site
        </p>
    </div>

    <div class="form-group">
        <label for="site-logo">Site Logo</label>
        {{#if logo}}
            <button type="button" class="thumbnail" {{action "openModal" "select-image" this "logo"}}><img id="site-logo" {{bind-attr src=logo.mediumUrl}} alt="logo"></button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" this "logo"}}>Choose Image</button>
        {{/if}}
        <p>
            Display a logo for your site
        </p>
    </div>

    <div class="form-group">
        <label for="site-cover">Site Cover</label>
        {{#if cover}}
            <button type="button" class="thumbnail" {{action "openModal" "select-image" this "cover"}}><img id="site-cover" {{bind-attr src=cover.mediumUrl}} alt="cover"></button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" this "cover"}}>Choose Image</button>
        {{/if}}
        <p>
            Display a cover image on your site
        </p>
    </div>
</form>
