<header class="settings-header">
    <h2 class="settings-item-title">{{t 'General'}}</h2>

    <button class="btn btn-primary action-save" {{action "save"}} disabled={{isSaving}}><i class="fa fa-floppy-o"></i>{{t 'save'}}</button>
</header>

<form class="settings-body" role="form" {{action 'save' on='submit'}}>
    <div class="form-group">
        <label for="site-name">{{t 'site.name'}}</label>
        {{input id="site-name" name="general[name]" type="text" class="form-control" value=model.name}}
        <p class="info">
            {{t 'site.nameInfos'}}
        </p>
    </div>

    <div class="form-group">
        {{input type="checkbox" name="nameInNavBar" checked=model.nameInNavBar}} {{t 'site.displayNameInNavBar'}}
    </div>

    <div class="form-group">
        <label for="site-tagline">{{t 'site.tagline'}}</label>
        {{input id="site-tagline" name="general[tagline]" type="text" class="form-control" value=model.tagline}}
        <p class="info">
            {{t 'site.taglineInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-logo">{{t 'site.logo'}}</label>
        {{#if model.logo}}
            <button type="button" class="thumbnail select-image" {{action "openModal" "select-image" controller "logo"}}>
                <img id="site-logo" src={{model.logo.smallUrl}} alt="logo">
                <span class="remove-image" {{action 'removeLogo'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" controller "logo"}}>{{t 'chooseImage'}}</button>
        {{/if}}
        <p class="info">
            {{t 'site.logoInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-favicon">{{t 'site.favicon'}}</label>
        {{#if model.favicon}}
            <button type="button" class="thumbnail select-image" {{action "openModal" "select-image" controller "favicon"}}>
                <img id="site-favicon" src={{model.favicon.smallUrl}} alt="favicon">
                <span class="remove-image" {{action 'removeFavicon'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" controller "favicon"}}>{{t 'chooseImage'}}</button>
        {{/if}}
        <p class="info">
            {{t 'site.faviconInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-theme">{{t 'site.theme'}}</label>
        {{view "select" id="site-theme" content=kowa.conf.themes selection=model.theme class="form-control"}}
        <p class="info">
            {{t 'site.themeInfos'}}
        </p>
    </div>

    <div class="form-group">
        <form class="form-inline">
            <div class="form-group">
                <label for="site-domain">{{t 'site.domain'}}</label>
                http://{{model.id}}.&nbsp;{{view "select" id="site-domain" class="form-control" content=kowa.conf.domains selection=model.domain}}
                <p class="info">
                    {{t 'site.domainInfos'}} - {{model.baseUrl}}
                </p>
            </div>
        </form>
    </div>

    {{#if model.customUrl}}
    <div class="form-group">
        <label for="site-custom-url">{{t 'site.customUrl'}}</label>
        {{input id="site-custom-url" name="general[customUrl]" type="text" class="form-control" value=model.customUrl}}
        <p class="info">
            {{t 'site.customUrlInfos'}}
        </p>
    </div>
    {{/if}}

    <div class="form-group">
        <label for="site-google-analytics">{{t 'site.googleAnalytics'}}</label>
        {{input id="site-google-analytics" name="general[google-analytics]" type="text" class="form-control" value=model.googleAnalytics}}
        <p class="info">
            {{t 'site.googleAnalyticsInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="site-lang">{{t 'site.lang'}}</label>
        {{view "select" id="site-lang" content=kowa.conf.langs optionValuePath="content.id" optionLabelPath="content.name" value=model.lang class="form-control"}}
        <p class="info">
            {{t 'site.langInfos'}}
        </p>
    </div>
</form>

<hr />

<form class="settings-body" role="form">
    <div class="form-group">
        <label for="site-delete">{{t 'site.delete'}}</label>
        <button {{action "openModal" "delete-site" controller model bubbles=false}} id="site-delete" class="btn btn-danger">{{t 'site.delete'}}</button>
        <p class="info">
            {{t 'site.deleteInfos'}}
        </p>
    </div>
</form>
