<header class="settings-header">
    <h2>{{t 'Images'}}</h2>
</header>

<section class="settings-body">
    <ol class="images-grid">
        <li class="image-uploader btn-success">
            {{image-uploader upload='uploadImage'}}
        </li>
        {{#each controller itemViewClass="settings/image" as |imageController|}}
            {{#if imageController.isUploading}}
                {{spin-spinner lines=13 length=20 width=10}}
                {{progress-bar progress=imageController.uploadProgress}}
            {{else}}
                <img src={{imageController.model.smallFillUrl}} class="img-responsive" />
                <div class="caption">
                    <p>
                        {{t 'image.added'}} {{ago imageController.model.createdAt}}
                    </p>
                    <button type="button" class="btn btn-sm btn-danger delete-button" {{action "openModal" "delete-image" controller imageController.model}}>{{t 'delete'}}</button>
                </div>
            {{/if}}
        {{/each}}
    </ol>
</section>
