<header class="settings-header settings-item-show">
    {{#link-to "settings.members.index" class="btn btn-default action-back"}}<i class="fa fa-angle-left"></i> {{t 'Members'}}{{/link-to}}

    <h2 class="settings-item-title">{{model.fullname}}</h2>

    <button class="btn btn-primary action-save" {{action "save"}}><i class="fa fa-floppy-o"></i> {{t 'save'}}</button>
</header>

<form class="settings-body" role="form" {{action 'save' on='submit'}}>
    <div class="form-group">
        <label for="member-photo">{{t 'member.photo'}}</label>
        {{#if model.photo}}
            <button type="button" class="thumbnail select-image" {{action "openModalSelectImage" site model "photo"}}>
                <img id="member-photo" src={{model.photo.smallUrl}} alt="photo">
                <span class="remove-image" {{action 'removePhoto'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModalSelectImage" site model "photo"}}>{{t 'chooseImage'}}</button>
        {{/if}}
        <p class="info">
            {{t 'member.photoInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="member-fullname">{{t 'member.fullname'}}</label>
        {{input id="member-fullname" name="member[fullname]" type="text" class="form-control" value=model.fullname}}
        <p class="info">
            {{t 'member.fullnameInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="member-role">{{t 'member.role'}}</label>
        {{input id="member-role" name="member[role]" type="text" class="form-control" value=model.role}}
        <p class="info">
            {{t 'member.roleInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="member-description">{{t 'member.description'}}</label>
        {{textarea rows=10 id="member-description" name="member[description]" class="form-control" value=model.description}}
        <p class="info">
            {{t 'member.descriptionInfos'}}
        </p>
    </div>
</form>
