<header class="settings-header settings-page">
    <h2 class="settings-item-title">{{t 'member.pageSettings'}}</h2>

    <button class="btn btn-primary action-save" {{action "save"}}><i class="fa fa-floppy-o"></i> {{t 'save'}}</button>
    {{#link-to "settings.members.index" class="btn btn-default action-back"}}<i class="fa fa-angle-left"></i> {{t 'Members'}}{{/link-to}}
</header>

<form class="settings-body" role="form" {{action 'save' on='submit'}}>
    <div class="form-group">
        {{input type="checkbox" checked=model.disabled}} {{t 'pageSettings.disabled'}}
        <p class="info">
            {{t 'member.pageDisabledInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="page-title">{{t 'pageSettings.title'}}</label>
        {{input id="page-title" type="text" class="form-control" value=model.title}}
        <p class="info">
            {{t 'member.pageTitleInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="page-tagline">{{t 'pageSettings.tagline'}}</label>
        {{input id="page-tagline" type="text" class="form-control" value=model.tagline}}
        <p class="info">
            {{t 'member.pageTaglineInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="page-cover">{{t 'pageSettings.cover'}}</label>
        {{#if model.cover}}
            <button type="button" class="thumbnail select-image" {{action "openModalSelectImage" site model "cover"}}>
                <img id="page-cover" src={{model.cover.smallUrl}} alt={{t 'coverImage'}}>
                <span class="remove-image" {{action 'removeCover'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModalSelectImage" site model "cover"}}>{{t 'chooseImage'}}</button>
        {{/if}}
        <p class="info">
            {{t 'member.pageCoverInfos'}}
        </p>
    </div>
</form>
