<header class="settings-header settings-item-show">
    {{#link-to "settings.activities.index" class="btn btn-default action-back"}}<i class="fa fa-angle-left"></i> {{t 'Activities'}}{{/link-to}}

    <h2 class="settings-item-title">{{model.title}}</h2>

    <button class="btn btn-primary action-save" {{action "save"}}><i class="fa fa-floppy-o"></i> {{t 'save'}}</button>
</header>

<form class="settings-body" role="form" {{action 'save' on='submit'}}>
    <div class="form-group">
        <label for="activity-cover">{{t 'activity.cover'}}</label>
        {{#if model.cover}}
            <button type="button" class="thumbnail select-image" {{action "openModal" "select-image" controller "cover"}}>
                <img id="activity-cover" src={{model.cover.smallUrl}} alt={{t 'coverImage'}}>
                <span class="remove-image" {{action 'removeCover'}}>&#10006;</span>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "openModal" "select-image" controller "cover"}}>{{t 'chooseImage'}}</button>
        {{/if}}
        <p class="info">
            {{t 'activity.coverInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="activity-title">{{t 'activity.name'}}</label>
        {{input id="activity-title" name="activity[title]" type="text" class="form-control" value=model.title}}
        <p class="info">
            {{t 'activity.nameInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="activity-summary">{{t 'activity.summary'}}</label>
        {{ck-editor value=model.summary value-id=model.id on-change="summaryChanged"}}
        <p class="info">
            {{t 'activity.summaryInfos'}}
        </p>
    </div>

    <div class="form-group">
        <label for="activity-body">{{t 'activity.description'}}</label>
        {{ck-editor value=model.body value-id=model.id on-change="bodyChanged"}}
        <p class="info">
            {{t 'activity.descriptionInfos'}}
        </p>
    </div>
</form>
