<header class="settings-header settings-activities">
    <h2 class="settings-item-title">{{t 'Activities'}}</h2>

    {{#link-to "settings.activities.new" class="btn btn-success action-add" title="New activity"}}<i class="fa fa-plus"></i> {{t 'activity.new'}}{{/link-to}}
    {{#if features.showPageSettings}}
        {{#link-to "settings.activities.page" class="btn btn-default action-page" title="Page settings"}}<i class="fa fa-cog"></i> {{t 'PageSettings'}}{{/link-to}}
    {{/if}}
</header>

<section class="settings-body">
    <div class="settings-list">
        {{#each controller as |activity|}}
            {{#link-to "settings.activities.activity" activity class="settings-item" title='activity.edit'}}
                <div class="settings-item-cover">
                    {{#if activity.cover}}
                        <img src={{activity.cover.thumbUrl}} alt={{t 'coverImage'}} class="thumbnail" />
                    {{else}}
                        <div class="thumbnail no-image text-center"></div>
                    {{/if}}
                </div>

                <div class="settings-item-fields">
                    <div class="settings-item-title">{{activity.title}}</div>
                    <div class="settings-item-desc">{{strip-truncate activity.summary}}</div>
                </div>

                <div class="settings-item-actions">
                    <button {{action "openModalDelete" "delete-activity" activity bubbles=false}} class="btn btn-danger action-delete">{{t 'delete'}}</button>
                </div>
            {{/link-to}}
        {{else}}
            <p>
                {{t 'activity.none'}}
            </p>
        {{/each}}
    </div>
</section>
