<header class="settings-header">
    <h2 class="settings-item-title">{{t 'activities'}}</h2>

    {{#link-to "settings.activities.new" class="btn btn-success action-add" title="New activity"}}<i class="fa fa-plus"></i> {{t 'newActivity'}}{{/link-to}}
</header>

<section class="settings-body">
    <div class="settings-list">
        {{#each activity in controller}}
            {{#link-to "settings.activities.activity" activity class="settings-item" title=i18n.activityEdit}}
                <div class="settings-item-cover">
                    {{#if activity.cover}}
                        <img {{bind-attr src=activity.cover.thumbUrl alt=i18n.coverImage}} class="thumbnail" />
                    {{else}}
                        <div class="thumbnail no-image text-center"></div>
                    {{/if}}
                </div>

                <div class="settings-item-fields">
                    <div class="settings-item-title">{{activity.title}}</div>
                </div>

                <div class="settings-item-actions">
                    <button {{action "openModal" "delete-activity" controller activity bubbles=false}} class="btn btn-danger action-delete">{{t 'delete'}}</button>
                </div>
            {{/link-to}}
        {{/each}}
    </div>
</section>
