{{#modal-dialog title=i18n.chooseImage ok='save' okText=i18n.select okClass='btn-primary' okDisabled=nothingSelected close='closeModal' closeText=i18n.cancel modalClass='select-image'}}
    {{#view "paginated-scroll-box" tagName="section" classNames="select-images-grid-wrapper"}}
        <ol class="select-images-grid ">
            {{#each imageController in controller itemViewClass="modals/image"}}
                {{#if imageController.isUploading}}
                    {{spin-spinner lines=13 length=0 width=10}}
                {{else}}
                    <img src={{imageController.model.squareUrl}} class="img-responsive" />
                {{/if}}
            {{else}}
                <p>
                    {{t 'image.none'}}
                </p>
                <p>
                    {{t 'image.gotoSettings'}}
                </p>
            {{/each}}
        </ol>
    {{/view}}
{{/modal-dialog}}
