<section class="content-edit">
    <header class="content-header">
        <div class="content-cover">
            {{#if model.cover}}
                <button type="button" class="thumbnail select-image small-kind" {{action "openModal" "select-image" controller "model.cover"}}>
                    <img {{bind-attr src=model.cover.smallUrl}} alt="cover image" />
                    <span class="remove-image" {{action 'removeCover'}}>&#10006;</span>
                </button>
            {{else}}
                <button type="button" class="btn btn-default select-image small-kind no-image" {{action "openModal" "select-image" controller "model.cover"}}>Select Cover</button>
            {{/if}}
        </div>

        <div class="content-fields">
            {{autofocus-input class="content-title" name="post[title]" type="text" placeholder="Post title" value=model.title}}
        </div>

        <div class="content-actions">
            {{#if nothingChanged}}
                {{#link-to "post" this class="content-action-button action-view"}}<i class="fa fa-eye"></i>{{/link-to}}
            {{else}}
                <div class="content-action-button action-view disabled" title="Save to view post"><i class="fa fa-eye-slash"></i></div>
            {{/if}}
            <button {{action "savePost"}} class="btn btn-success content-action-button action-save" {{bind-attr disabled=nothingChanged}}><i class="fa fa-floppy-o"></i> Save</button>
        </div>
    </header>
    <section class="content-body content-editor">
        {{codemirror-editor value=model.body placeholder="Post body"}}
    </section>
</section>
