<section class="content-show">
    <header class="content-header">
        <div class="content-cover">
            {{#if cover}}
                <img {{bind-attr src=cover.thumbFillUrl}} class="thumbnail" alt="cover image" />
            {{else}}
                <div class="thumbnail no-image text-center"></div>
            {{/if}}
        </div>

        <div class="content-fields">
            <div class="content-title">{{title}}</div>
        </div>

        <div class="content-actions">
            {{#link-to "post.edit" this class="btn btn-default content-action-button action-edit"}}<i class="fa fa-pencil"></i> Edit{{/link-to}}
            <button {{action "openModal" "delete-post" controller 'posts.index'}} class="btn btn-danger content-action-button action-delete">Delete</button>
        </div>
    </header>
    <section class="content-body content-preview">
        {{markdown-to-html markdown=body}}
    </section>
</section>
