<section class="content-preview">
    <header class="content-header">
        <div class="content-title">{{title}}</div>

        <div class="content-cover">
            {{#if cover}}
                <img {{bind-attr src=cover.smallUrl}} class="thumbnail" alt="cover image" />
            {{else}}
                <div class="thumbnail no-image text-center"></div>
            {{/if}}
        </div>

        {{#link-to "post.edit" this class="btn btn-default content-action-button action-edit"}}<i class="fa fa-pencil"></i> Edit{{/link-to}}
        <button {{action "openModal" "delete-post" controller 'posts.index'}} class="btn btn-danger content-action-button action-delete">Delete</button>
    </header>
    <section class="content-body">
        {{showdown-addon body}}
    </section>
</section>
