<section class="content-edit">
    <header class="content-header">
        <div class="content-cover">
            {{#if model.cover}}
                <button type="button" class="thumbnail select-image small-kind" {{action "openModal" "select-image" controller "model.cover"}}>
                    <img {{bind-attr src=model.cover.thumbUrl}} alt="cover image" />
                    <span class="remove-image" {{action 'removeCover'}}>&#10006;</span>
                </button>
            {{else}}
                <button type="button" class="btn btn-default select-image small-kind no-image" {{action "openModal" "select-image" controller "model.cover"}}>Select Cover</button>
            {{/if}}
        </div>

        <div class="content-fields">
            {{autofocus-input class="content-title" name="event[title]" type="text" placeholder="Event title" value=model.title}}
            {{input class="content-place" name="event[place]" type="text" placeholder="Event place" value=model.place}}
            <form class="form-horizontal content-dates">
              <div class="form-group">
                <label for="event-startDate" class="col-sm-1 control-label">Start: </label>
                <div class="col-sm-4">
                    <!-- @todo Fix locale -->
                    {{bs-datetimepicker date=model.startDate format='DD-MM-YYYY HH:mm' forceDateOutput=true locale='fr' id="event-startDate"}}
                </div>
              </div>
              <div class="form-group">
                <label for="event-endDate" class="col-sm-1 control-label">End: </label>
                <div class="col-sm-4">
                    <!-- @todo Fix locale -->
                    {{bs-datetimepicker date=model.endDate format='DD-MM-YYYY HH:mm' forceDateOutput=true locale='fr' id="event-endDate"}}
                </div>
              </div>
            </form>
        </div>

        <div class="content-actions">
            <button {{action "openModal" "delete-event" controller 'events.index'}} class="btn btn-danger content-action-button action-delete">Delete</button>
            <button {{action "saveContent"}} class="btn btn-primary content-action-button action-save" {{bind-attr disabled=nothingChanged}}><i class="fa fa-floppy-o"></i> Save</button>
        </div>
    </header>
    <section class="content-body content-editor">
        {{codemirror-editor value=model.body placeholder="Event description"}}
    </section>
</section>
