<section class="content-show">
    <header class="content-header">
        <div class="content-cover">
            {{#if model.cover}}
                <img {{bind-attr src=model.cover.smallUrl}} class="thumbnail" alt="cover image" />
            {{else}}
                <div class="thumbnail no-image text-center"></div>
            {{/if}}
        </div>

        <div class="content-fields">
            <div class="content-title">{{model.title}}</div>
            <div class="content-place">{{model.place}}</div>
            <div class="content-date">{{model.dateSentence}}</div>
        </div>

        <div class="content-actions">
            {{#link-to "event.edit" this class="btn btn-default content-action-button action-edit"}}<i class="fa fa-pencil"></i> Edit{{/link-to}}
            <button {{action "openModal" "delete-event" controller 'events.index'}} class="btn btn-danger content-action-button action-delete">Delete</button>
        </div>
    </header>
    <section class="content-body content-preview">
        {{markdown-to-html markdown=model.body}}
    </section>
</section>
