<section class="content-edit">
    <header class="content-header">
        <div class="content-cover">
            {{#if model.cover}}
                <button type="button" class="thumbnail select-image small-kind" {{action "openModal" "select-image" controller "model.cover"}}>
                    <img src={{model.cover.thumbUrl}} alt={{t 'coverImage'}} />
                    <span class="remove-image" {{action 'removeCover'}}>&#10006;</span>
                </button>
            {{else}}
                <button type="button" class="btn btn-default select-image small-kind no-image" {{action "openModal" "select-image" controller "model.cover"}}>{{t 'selectCover'}}</button>
            {{/if}}
        </div>

        <div class="content-fields">
            {{autofocus-input class="content-title" name="post[title]" type="text" placeholder=(t 'post.title') value=model.title}}

            {{#if model.published}}
                <button {{action "unpublishPost"}} class="btn btn-danger content-action-button action-unpublish" disabled={{cannotUpdate}}><i class="fa fa-thumbs-o-down"></i> {{t 'post.unpublish'}}</button>

                <div class="dtpicker">
                    <!-- @todo Fix locale -->
                    {{bs-datetimepicker id="post-publishedAt" date=model.publishedAt format='DD-MM-YYYY' forceDateOutput=true locale='fr'}}
                </div>
            {{else}}
                <button {{action "publishPost"}} class="btn btn-success content-action-button action-publish" disabled={{cannotUpdate}}><i class="fa fa-thumbs-o-up"></i> {{t 'post.publish'}}</button>
            {{/if}}

            {{#if features.showContentFormat}}
                <form class="form-inline content-format">
                    {{view "select" content=kowa.conf.formats optionValuePath="content.id" optionLabelPath="content.name" value=model.format class="form-control"}}
                </form>
            {{/if}}
        </div>

        <div class="content-actions">
            <button {{action "openModal" "delete-post" controller 'posts.index'}} class="btn btn-danger content-action-button action-delete" disabled={{cannotDelete}}>{{t 'delete'}}</button>
            <button {{action "saveContent"}} class="btn btn-primary content-action-button action-save" disabled={{cannotSave}}><i class="fa fa-floppy-o"></i> {{t 'save'}}</button>
        </div>
    </header>
    <section class="content-body content-editor">
        {{#if model.isMarkdown}}
            {{codemirror-editor value=model.body placeholder=(t 'post.body')}}
        {{else}}
            {{tinymce-editor value=model.body fillHeight=true placeholder=(t 'post.body')}}
        {{/if}}
    </section>
</section>
