<section class="content-edit">
    <header class="content-header">
        <div class="content-cover">
            {{#if model.cover}}
                <button type="button" class="thumbnail select-image small-kind" {{action "openModal" "select-image" controller "model.cover"}}>
                    <img {{bind-attr src=model.cover.thumbUrl alt=i18n.coverImage}} />
                    <span class="remove-image" {{action 'removeCover'}}>&#10006;</span>
                </button>
            {{else}}
                <button type="button" class="btn btn-default select-image small-kind no-image" {{action "openModal" "select-image" controller "model.cover"}}>{{t 'selectCover'}}</button>
            {{/if}}
        </div>

        <div class="content-fields">
            {{autofocus-input class="content-title" name="post[title]" type="text" placeholder=i18n.postTitle value=model.title}}

            {{#if features.showContentFormat}}
                <form class="form-inline content-format">
                    {{view "select" content=allFormats optionValuePath="content.id" optionLabelPath="content.name" value=model.format class="form-control"}}
                </form>
            {{/if}}
        </div>

        <div class="content-actions">
            <button {{action "openModal" "delete-post" controller 'posts.index'}} class="btn btn-danger content-action-button action-delete" {{bind-attr disabled=model.isNew}}>{{t 'delete'}}</button>
            <button {{action "saveContent"}} class="btn btn-primary content-action-button action-save" {{bind-attr disabled=nothingChanged}}><i class="fa fa-floppy-o"></i> {{t 'save'}}</button>
        </div>
    </header>
    <section class="content-body content-editor">
        {{#if model.isMarkdown}}
            {{codemirror-editor value=model.body placeholder=i18n.postBody}}
        {{else}}
            {{tinymce-editor value=model.body onChange="bodyChanged" fillHeight=true placeholder=i18n.postBody}}
        {{/if}}
    </section>
</section>
