<section class="content-master">
    <header class="content-header">
        <div class="content-kind-title">Events</div>
        {{#link-to "events.new" class="content-add btn btn-success btn-xs" title="New Event"}}<i class="fa fa-plus"></i> New event{{/link-to}}
    </header>
    {{#view "paginated-scroll-box" tagName="ol" classNames="content-body"}}
        {{#each item in controller itemView="list-item-view" itemTagName="li"}}
            {{#link-to "event" item title="Display this event"}}
                {{#if item.cover}}
                    <div class="item-cover">
                        <img {{bind-attr src=item.cover.squareFillUrl}} alt="cover image" />
                    </div>
                {{/if}}
                <div class="item-infos">
                    <h3 class="item-title">{{item.title}}</h3>
                    <section class="item-meta">
                        <div class="item-place">{{item.place}}</div>
                        <div class="item-date">{{item.dateSentence}}</div>
                    </section>
                </div>
            {{/link-to}}
        {{/each}}
    {{/view}}
</section>
<section class="content-details">
    {{outlet}}
</section>
