<div class="beta-ribbon">
  BETA
</div>

<div class="container login-box">
    <div class="login-logo">
        <img src="/images/ninja_150x150.png" alt="Kowa Logo" class="img-responsive" />
    </div>
    <form class="login-form" role="form" {{action 'authenticate' on='submit'}}>
        <div class="form-group">
            <label for="login-email">{{t 'auth.usernameOrEmail'}}</label>
            {{input id='login-email' class='form-control' placeholder=(t 'auth.enterUsername') required='required' autofocus='autofocus' value=identification}}
        </div>
        <div class="form-group">
            <label for="login-password">{{t 'auth.password'}}</label>
            {{input id='login-password' class='form-control' placeholder=(t 'auth.enterPassword') type='password' required='required' value=password}}
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">{{t 'auth.login'}}</button>
        <div class="login-signup">
            {{t 'auth.noAccountYet'}} {{#link-to 'signup'}}{{t 'auth.createAccount'}}{{/link-to}}
        </div>
    </form>
</div>
