<section class="content-master">
    <header class="content-header">
        <div class="content-kind-title">{{t 'Posts'}}</div>
        {{#link-to "posts.new" class="content-add btn btn-success btn-xs" title=(t 'post.new')}}<i class="fa fa-plus"></i> {{t 'post.new'}}{{/link-to}}
    </header>
    {{#view "paginated-scroll-box" tagName="ol" classNames="content-body"}}
        {{#each controller itemView="list-item-view" as |item|}}
            {{#link-to "posts.post" item title=(t 'post.edit')}}
                {{#if item.cover}}
                    <div class="item-cover">
                        <img src={{item.cover.squareUrl}} alt={{t 'coverImage'}} />
                    </div>
                {{/if}}
                <div class="item-infos">
                    <h3 class="item-title">{{item.title}}</h3>
                    <section class="item-meta">
                        {{#if item.published}}
                            {{t 'post.publishedStatus'}} {{ago item.publishedAt}}
                        {{else}}
                            <span class="draft">{{t 'post.draft'}}</span>
                        {{/if}}
                    </section>
                </div>
            {{/link-to}}
        {{/each}}
    {{/view}}
</section>
<section class="content-details">
    {{outlet}}
</section>
