<nav class="settings-nav">
    <ul>
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.general"}}<i class="fa fa-fw fa-cog"></i> {{t 'General'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.contact"}}<i class="fa fa-fw fa-envelope-o"></i> {{t 'Contact'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.activities"}}<i class="fa fa-fw fa-bullhorn"></i> {{t 'Activities'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.members"}}<i class="fa fa-fw fa-users"></i> {{t 'Members'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.images"}}<i class="fa fa-fw fa-file-image-o"></i> {{t 'Images'}}{{/link-to}}
        {{/view}}
    </ul>
</nav>

{{outlet}}
