<nav class="settings-nav">
    <ul>
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.general"}}<i class="fa fa-fw fa-cog"></i> {{t 'General'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.homepage"}}<i class="fa fa-fw fa-home"></i> {{t 'Homepage'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.activities"}}<i class="fa fa-fw fa-bullhorn"></i> {{t 'Activities'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.members"}}<i class="fa fa-fw fa-users"></i> {{t 'Members'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.contact"}}<i class="fa fa-fw fa-envelope-o"></i> {{t 'Contact'}}{{/link-to}}
        {{/view}}
        {{#if features.showPageSettings}}
            {{#view "active-item" tagName="li"}}
                {{#link-to "settings.posts"}}<i class="fa fa-fw fa-info-circle"></i> {{t 'Posts'}}{{/link-to}}
            {{/view}}
            {{#view "active-item" tagName="li"}}
                {{#link-to "settings.events"}}<i class="fa fa-fw fa-calendar"></i> {{t 'Events'}}{{/link-to}}
            {{/view}}
        {{/if}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.images"}}<i class="fa fa-fw fa-file-image-o"></i> {{t 'Images'}}{{/link-to}}
        {{/view}}
        {{#view "active-item" tagName="li"}}
            {{#link-to "settings.account"}}<i class="fa fa-fw fa-user"></i> {{t 'yourAccount'}}{{/link-to}}
        {{/view}}
    </ul>
</nav>

{{outlet}}
